<h3>home</h3>
TOK: <%= link_to "link", tok_path %> <br />
EE: <%= link_to "link", ee_path %> <br />
Source Code of this site: <%= link_to "link", "https://github.com/TheNetyx-school/core_exhibition_thing" %>
